@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
}
nav{
    position: sticky;
    top:0;
}
#list{
    border: 2px black solid;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    text-decoration: none;

  
}
a{
    text-decoration: none;
    color: white;
}
.listitem{
    display: inline-block;
    margin:0 50px;
    cursor: pointer;
    font-size:25px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
	margin-top:150px;
}
#home, #about,#skills,#project,#contact{
    text-align: center;
    border: 2px black solid;
    height: 90vh;
}